@{
    ViewBag.Title = "Zombie Mod";
}

<h2>Zombie Mod</h2>

<p>
    An online tool to use with our mod of Zombicide.
</p>
<p>
    Currently under construction.
</p>

@Html.Partial("_CommonScripts")
@*<script src="~/Scripts/Home/Index.js"></script>*@
