@{
    ViewBag.Title = "Spawner";
}
<link href="~/Content/Home/spawner.css" rel="stylesheet" />
<div class="container-fluid">
    <br />
    <div class="jumbotron" data-bind="css: jumbotronGlow">
        <h1>
            <span data-bind="text: jumbotronMessage"></span>
        </h1>
    </div>

    <div class="row">
        @* Actions *@
        <div class="col-md-12" style="display: inline-block">
            <button class="btn btn-primary" data-bind="click: spawnZombies, enable: spawnButtonsEnabled">
                Spawn Zombies (<span data-bind="text: spawnsLeftInTurn"></span>)
            </button>
            <button class="btn btn-default" data-bind="click: selectCard, enable: spawnButtonsEnabled">Building Spawn</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" style="display: inline-block">
            <div class="btn-group btn-group-justified" role="group" data-bind="foreach: turns">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-turn btn-lg" data-bind="css: color, event: { click: function () { $root.setTurnInfo(number) }}"><span class="glyphicon" data-bind="css: icon"></span></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @* Setup *@
        <div class="col-md-4" data-bind="visible: gameSetup">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Game Setup</h3></div>
                <div class="panel-body">
                    <div>
                        <button class="btn btn-primary btn-panel" data-bind="click: startGame, enable: gameSetup">
                            <span>Start Game</span>
                            <span data-bind="visible: gameSetup"> (Enter)</span>
                        </button>
                    </div>
                    <wide-spinner params="value: spinners.blueSpawnCount"></wide-spinner>
                    <wide-spinner params="value: spinners.yellowSpawnCount"></wide-spinner>
                    <wide-spinner params="value: spinners.orangeSpawnCount"></wide-spinner>
                </div>
            </div>
        </div>
        @* Game Info *@
        <div class="col-md-4" data-bind="visible: !gameSetup()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Game Info <span class="glyphicon glyphicon-refresh glyphicon-spin loading-icon" data-bind="visible: loading"></span></h3>
                </div>
                <div class="panel-body">
                    <wide-spinner params="value: spinners.activeSpawnCount"></wide-spinner>
                    <div>
                        <label>Current turn:</label>
                        <span data-bind="text: turn"></span>
                    </div>
                    <div>
                        <label>Current Deck:</label>
                        <span data-bind="text: currentDeck"></span>
                    </div>
                    <div>
                        <label>Card Count:</label>
                        <span data-bind="text: cards().length"></span>
                    </div>
                    <div>
                        <label>Enter :</label>
                        <span>Starts the game.</span>
                    </div>
                    <div>
                        <label>Z or T :</label>
                        <span>Spawns Zombies for an active spawn point.</span>
                    </div>
                    <div>
                        <label>B :</label>
                        <span>Spawns Zombies for building or other spawn point.</span>
                    </div>
                    <div>
                        <label>Left :</label>
                        <span>Decreases the number of active spawn points.</span>
                    </div>
                    <div>
                        <label>Right :</label>
                        <span>Increases the number of active spawn points.</span>
                    </div>
                </div>
            </div>
        </div>
        @* Turn Info *@
        <div class="col-md-4" data-bind="visible: !gameSetup()">
            <div class="panel panel-default" data-bind="with: currentTurnInfo">
                <div class="panel-heading">
                    <h3>Turn <span data-bind="text: number"></span> Info</h3>
                </div>
                <div class="panel-body">
                    <ul data-bind="foreach: history">
                        <li data-bind="text: Info"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_CommonScripts")
<script src="~/Scripts/Managers/ZombieModManager.js"></script>
<script src="~/Scripts/Home/Spawner.js"></script>
