<div id="_CommonScripts">
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/knockout-3.4.1.js"></script>
    @* Custom Knockout *@
    <script src="~/Scripts/CustomKnockout/CustomKnockout.js"></script>
    <script src="~/Scripts/CustomKnockout/WideSpinnerViewModel.js"></script>
</div>

